receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  otlphttp/tempo:
    endpoint: http://tempo:4318
    tls:
      insecure: true
    traces_endpoint: http://tempo:4318/v1/traces
  logging:
    loglevel: info

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_mib: 400

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/tempo, logging]
